@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ruda:wght@400;600;700&display=swap");

/* Grundlegende Einstellungen für alle Elemente */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Einstellungen für den Körper des Dokuments */
body {
  background-color: #37474f;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "poppins";
}

/* Container für das Wetter-Widget */
.container {
  max-width: 800px;
  width: 100%;
  background-color: #232931;
  color: #fff;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  transition: all 0.5s ease-in-out;
}

/* Layout für die inneren Bereiche */
.wrapper {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-gap: 1rem;
}

/* Abschnitt für das Bild und die grundlegenden Wetterinformationen */
.img_section {
  border-radius: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transform: scale(1.03) perspective(200px);
}

/* Überlagerungseffekt für das Bild */
.img_section::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(135deg, #5c6bc0 10%, #0d47a1 100%);
  opacity: 0.5;
  border-radius: 25px;
  z-index: -1;
}

/* Zentrierung und Formatierung des Standard-Info-Bereichs */
.default_info {
  padding: 1.5rem;
  text-align: center;
}

/* Stile für die Symbole */
.icons {
  opacity: 0.6;
}

.icons.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.7s;
}

@keyframes fadeIn {
  to {
    transition: all 0.5s ease-in;
    opacity: 1;
  }
}

/* Rechter Bereich für weitere Wetterdaten */
.content_section {
  padding: 1.5rem;
}

.content_section.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.7s;
}

/* Formularstil */
.content_section form {
  position: relative;
  margin: 1.5rem 0;
}

.content_section form input {
  width: 84%;
  outline: none;
  background: transparent;
  border: 1px solid #37474f;
  border-radius: 5px;
  padding: 0.7rem 1rem;
  font-family: inherit;
  color: #fff;
  font-size: 1rem;
}

.content_section form button {
  position:absolute;
  right:0;
  top:0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem 0.7rem;
  font-family: inherit;
  font-size: 0.8rem;
  outline: none;
  border: none;
  background-color: #5c6bc0;
  color: #fff;
  cursor: pointer;
}

/* Stil für Informationen zum Tageswetter */
.day_info .content {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0;
}

.day_info .content .title {
  font-weight: 600;
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
