@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ruda:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #9fbfcf;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "poppins";
}

.container {
  max-width: 800px;
  width: 100%;
  background-color: #232931;
  color: #fff;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  transition: all 0.5s ease-in-out;
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-gap: 1rem;
}

.img_section {
  border-radius: 25px;
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transform: scale(1.03) perspective(200px);
}

.img_section::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(135deg, #5c6bc0 10%, #0d47a1 100%);
  opacity: 1;
  border-radius: 25px;
  z-index: -1;
}

.default_info {
  padding: 1.5rem;
  text-align: center;
}

.default_info img {
  width: 80%;
  object-fit: cover;
  margin: 0 auto;
  transition: all 0.3s ease-in;
  filter: saturate(2); /* Adjust the value to increase saturation */
}

.default_info h2 {
  font-size: 3rem;
}

.default_info h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.weather_temp {
  font-size: 4rem;
  font-weight: 800;
}

.icons {
  opacity: 0.6;
}

.icons.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.7s;
}

@keyframes fadeIn {
  to {
    transition: all 0.5s ease-in;
    opacity: 1;
  }
}

/* right side content */
.content_section {
  padding: 1.5rem;
}

.content_section.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.7s;
}

.content_section form {
  position: relative;
  margin: 1.5rem 0;
}

.content_section form input {
  width: 84%;
  outline: none;
  background: transparent;
  border: 1px solid #37474f;
  border-radius: 5px;
  padding: 0.7rem 1rem;
  font-family: inherit;
  color: #fff;
  font-size: 1rem;
}

.content_section form button {
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem 0.7rem;
  font-family: inherit;
  font-size: 0.8rem;
  outline: none;
  border: none;
  background-color: #5c6bc0;
  color: #fff;
  cursor: pointer;
}

.day_info .content {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0;
}

.day_info .content .title {
  font-weight: 600;
}

.list_content ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 3rem 0rem;
  padding: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 1rem;
  background-color: #2e3b4e;
}

.list_content ul.fadeIn {
  opacity: 1;
}

.list_content ul li {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  transition: all 0.3s ease-in;
  background-color: #2e3b4e;
}

.list_content ul li.active {
  background-color: #ffffff;
  color: #232931;
}

.list_content ul li img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
