@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ruda:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Grundstil für den Body */
body {
  background-color: #9fbfcf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  padding: 16px;
}

/* Stil für den Container */
.container {
  max-width: 800px;
  width: 100%;
  background-color: #232931;
  color: #fff;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  transition: all 0.5s ease-in-out;
}

/* Stil für das Wrapper-Element */
.wrapper {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-gap: 16px; /* 1rem in px */
}

/* Stil für den Bildbereich */
.img_section {
  border-radius: 25px;
  background: linear-gradient(135deg, #5c6bc0 10%, #0d47a1 100%);
  position: relative;
}

/* Stil für die Standardinformationen */
.default_info {
  padding: 24px; 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.location-name {
  font-size: 24px; 
  margin-bottom: 8px; 
}

.default_info img {
  width: 60%;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
  transition: all 0.3s ease-in;
}

.default_info h2 {
  font-size: 48px; 
}

.default_info h3 {
  font-size: 24px;
  margin-top: 8px; 
}

.default_info .date-container {
  margin-top: 8px; 
}

/* Stil für die Temperaturanzeige */
.weather_temp {
  font-size: 64px; 
  font-weight: 800;
}

/* Stil für den rechten Inhaltsbereich */
.content_section {
  padding: 24px; 
}

.content_section.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.7s;
}

.content_section form {
  position: relative;
  margin: 24px 0; 
  display: grid;
  grid-template-columns: 70% 30%;
}

.content_section form input {
  height: 48px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  background: transparent;
  border: 1px solid #37474f;
  border-right: none;
  padding: 11px 16px; 
  font-family: inherit;
  color: #fff;
  font-size: 16px; 
}

.content_section form button {
  height: 48px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 11px 16px; 
  font-family: inherit;
  font-size: 12.8px;
  outline: none;
  border: none;
  background-color: #5c6bc0;
  color: #fff;
  cursor: pointer;
}

.day_info .content {
  display: flex;
  justify-content: space-between;
  padding: 6.4px 0; 
}

.day_info .content .title {
  font-weight: 600;
}

.list_content ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 48px 0; 
  padding: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 16px; 
  background-color: #2e3b4e;
}

.list_content ul.fadeIn {
  opacity: 1;
}

.list_content ul li {
  padding: 16px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px; 
  transition: all 0.3s ease-in;
  background-color: #2e3b4e;
}

.list_content ul li.active {
  background-color: #ffffff;
  color: #232931;
}

.list_content ul li img {
  width: 40px; 
  height: 40px; 
  object-fit: contain; 
  display: block;
}

/* Stil für den "Mehr über die Wetter App" Button */
.more-info {
  text-align: center;
  margin-top: 50px; 
}

.btn_more_info {
  text-decoration: none;
  background-color: #5c6bc0;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn_more_info:hover {
  background-color: #3949ab;
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 100%;
  }
}
