@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ruda:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #9fbfcf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  padding: 16px; /* Padding hinzugefügt für kleine Bildschirme */
}

.container {
  max-width: 1000px;
  width: 100%;
  background-color: #232931;
  color: #fff;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  transition: all 0.5s ease-in-out;
  padding: 32px;
  text-align: center;
}

.content_section {
  padding: 32px;
}

h1 {
  margin-bottom: 32px; /* Abstand zwischen der Überschrift und den Bildern */
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.team-photos {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap; /* Zeilenumbruch für kleine Bildschirme */
}

.circle {
  width: 200px; /* Größere Kreise */
  height: 200px; /* Größere Kreise */
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-bottom: 32px;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-names,
.team-descriptions {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap; /* Zeilenumbruch für kleine Bildschirme */
}

.team-names h3,
.team-descriptions p {
  width: 30%;
  text-align: center;
}

h3 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 24px;
}

p {
  font-size: 16px;
  margin: 0 0 32px 0;
}

.btn_more_info {
  text-decoration: none;
  background-color: #5c6bc0;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 32px;
}

.btn_more_info:hover {
  background-color: #3949ab;
}

@media (max-width: 768px) {
  .container {
    padding: 16px; /* Weniger Padding für kleine Bildschirme */
  }

  .content_section {
    padding: 16px; /* Weniger Padding für kleine Bildschirme */
  }

  h1 {
    margin-bottom: 24px; /* Weniger Abstand für kleine Bildschirme */
  }

  .team-photos,
  .team-names,
  .team-descriptions {
    flex-direction: column;
  }

  .team-names h3,
  .team-descriptions p {
    width: 100%;
  }

  .circle {
    width: 160px; /* Größere Kreise für kleine Bildschirme */
    height: 160px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 20px; /* Kleinere Schriftgröße für Überschriften */
  }

  p {
    font-size: 14px; /* Kleinere Schriftgröße für Beschreibungen */
    margin-bottom: 16px;
  }

  .btn_more_info {
    margin-top: 24px; /* Weniger Abstand zum Button */
  }
}
